<% if current_user.clearances.blank? %>
  <div class="apply text-center">
    <h1>You have not applied for any clearance</h1>
    <%= link_to new_clearance_path, class: 'btn btn-primary' do %>
      Apply now
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-6">
      <h1>My Clearances</h1>
    </div>

    <div class="col-sm-6 text-end">
    <%= link_to new_clearance_path, class: 'btn btn-primary' do %>
      Add New Clearance
    <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
      

          <th>Link</th>
          <%# <th>User</th> %>
          <th>Degree</th>
          <th>Session</th>
          <th>Status</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @clearances.each do |clearance| %>
          <%= content_tag :tr, id: dom_id(clearance), class: dom_class(clearance) do %>
            

            <td><%= link_to clearance.link, clearance.link, target: "_blank" %></td>
            <%# <td>= clearance.user</td> %>
            <td><%= clearance.degree.upcase %></td>
            <td><%= clearance.session %></td>
            <% if clearance.status == "pending" %>
              <td><%= link_to clearance.status.capitalize, "#", class: "btn btn-sm btn-primary" %></td>
            <% elsif clearance.status == "successful" %>
              <td><%= link_to clearance.status.capitalize, "#", class: "btn btn-sm btn-success" %></td>
            <% else %>
              <td><%= link_to clearance.status.capitalize, "#", class: "btn btn-sm btn-danger" %></td>
            <% end %>


            <td><%= clearance.created_at.strftime("#{clearance.created_at.day.ordinalize} %B %Y") %></td>
            <td><%= link_to 'Show', clearance %></td>
            
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
